:root {
  --bg: #fafafa;
  --surface: #ffffff;
  --gray: #cbd1d8;
  --text: #333333;

  --purple-light: #e1bee7;
  --purple: #9c27b0;
  --purple-dark: #7b1fa2;

  --green-light: #c8e6c9;
  --green: #00a878;
  --green-dark: #007d5a;

  --orange-light: #ffe0b2;
  --orange: #f37042;
  --orange-dark: #d84315;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
